<!DOCTYPE html>


<!-- beautify ignore:start -->
<html xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-static-path="/"
  data-template="vertical-menu-template-free"
>

<th:block th:replace="~{./include :: setContent( ~{:: .wrap} ) }"> 
 
 	<div class="wrap">
 	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  	<script th:inline="javascript">
      
    /*<![CDATA[*/

    let post_id = 0;
    //let isModified = false;
    let reply_id = 0;
    let replyContent = '';
    let modifyForm_reply_id = 0;
    let memberNick = /*[[${session.member.memberNick}]]*/;

      $(document).ready(function() {

        // $('#contents').on('click', '.modifyPost', function() {
        //   alert('call');
        //   let post_id = $(this).data('id')
        //   console.log('post_id : ', post_id);
        // });

        // $('.deletePost').on('click', function() {


        // });



        //게시글 




      //모달 띄우기 
    	 $('#contents').on('click', 'a', function(e) {
              e.preventDefault();
              $('#modifyForm').hide();
              $('#addForm').show();
              post_id = $(this).data('id');            
              
              //게시글 상세 조회
               $.ajax({
                 url: "/posts/" + post_id,
                 type: 'GET',
                 contentType: 'application/json;charset=utf-8',
                 dataType: 'json',
                 success: function (data) {  
                  getPostTitle(data);
                  getPostPhoto(data);
                  getPostAccount(data);    
                },
                fail: function(ex){
                  console.log("error: ", ex);
                }

              });

              //댓글 조회
              $.ajax({
                url: "/posts/" + post_id + "/replies",
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {      
                  getCommentList(data);
                },
                fail: function (ex) {
                  console.log("error : ", ex);
                }
              });

              $('#modalScrollable').modal('show');

         });
       
        //댓글 등록
        $('#addComment').on("click", function () {

          $.ajax({
            url: "/posts/" + post_id + "/replies",
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
              replyContent: $('#replyContent').val()
            }),

            success: function (data) {
              $('#replyContent').val("");
              getCommentList(data);
            },
            fail: function(ex) {
              console.log("error: ", ex);
            }
          });

        });
        //댓글 등록 엔터키 이벤트
        $('#replyContent').keydown(function(keynum){
          if(keynum.keyCode == 13){ //엔터키 이벤트 발생
            
              $.ajax({
                url: "/posts/" + post_id + "/replies",
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                  replyContent: $('#replyContent').val()
                }),

                success: function (data) {
                  $('#replyContent').val("");
                  getCommentList(data);
                },
                fail: function (ex) {
                  console.log("error: ", ex);
                }
            });
          }
        }); 
        

        //댓글 삭제
        $('#commentList').on("click", ".subComment", function () {

          let reply_id = $(this).closest("div").data("id");

          //console.log("postid: ", post_id);
          //console.log("replyid: ", reply_id);

          $.ajax({
            url: "/posts/" + post_id + "/replies/" + reply_id,
            type: 'DELETE',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',

            success: function (data) {
              getCommentList(data);
            },
            
            fail: function(ex) {
              console.log("error: ", ex);
            }

          });

        });

        
        //댓글 수정 폼 생성
        $('#commentList').on("click", ".modComment", function(){

          modifyForm_reply_id = $(this).closest("div").data("id");
          //console.log("modifyReply: ", modifyForm_reply_id );

          $('#addForm').hide();
          $('#modifyForm').show();


        });

        //댓글 수정
        $('#modifyForm').on("click",'#ok', function(){
          let reply_id = modifyForm_reply_id;
          
          $.ajax({
            url: "posts/" + post_id + "/replies/" + reply_id,
            type: 'PUT',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
              replyContent: $('#modContent').val()
            }),

            success: function(data){
              $('#modContent').val("");
              $('#modifyForm').hide();
              $('#addForm').show();
              getCommentList(data);
            },
            error: function(ex){
              console.log(ex);
            }
            
          });

        });
        //댓글 수정 엔터키 이벤트
        $('#modContent').keydown(function(keynum){
          let reply_id = modifyForm_reply_id;

          if(keynum.keyCode == 13){ //엔터키 이벤트 발생
            
            $.ajax({
              url: "posts/" + post_id + "/replies/" + reply_id,
              type: 'PUT',
              contentType: 'application/json;charset=utf-8',
              dataType: 'json',
              data: JSON.stringify({
                replyContent: $('#modContent').val()
              }),

              success: function (data) {
                $('#modContent').val("");
                $('#modifyForm').hide();
                $('#addForm').show();
                getCommentList(data);
              },
              error: function (ex) {
                console.log(ex);
              }
            });
          }
        }); 

            //게시글 제목 조회
              function getPostTitle(data) {
                  let post = data.post;
            
                  let htmlStr = "";

                  htmlStr += "<h5 class='modal-title' id='modalScrollableTitle'>"+ post.post_title +"</h5>";
                  htmlStr += "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>";	           

                  $('#postTitle').html("");
                  $('#postTitle').append(htmlStr);

                }

            //게시글 이미지 상세 조회
              function getPostPhoto(data) {
              let post = data.post;
              
              let htmlStr = "";


              for (let i = 0; i < post.uploads.length; i++) {
                htmlStr += "<div class='carousel-item active'>";
                htmlStr += "<img class='d-block w-100' src='/upload/" + post.uploads[i].upload_filepath + "/" + post.uploads[i].upload_fileuuid + "_" + post.uploads[i].upload_filename + "\' alt='Third slide'  />";
                htmlStr += "</div>";

              }

              $('#postPhoto').html("");
              $('#postPhoto').append(htmlStr);
              $('.carousel-item:nth-child(2),.carousel-item:nth-child(3)').removeClass('active');


            }    
           
            //게시글 작성자 조회
              function getPostAccount(data) {
              let post = data.post;

              let htmlStr = "";



              htmlStr += "<div class='profile-img' style='background: url(/img/avatars/1.jpg) no-repeat center; background-size: cover;'></div>";
              htmlStr += "<div class='user_container'>";
              htmlStr += "<div class='user_name'>";
              htmlStr += "<div class='nick_name'>" + post.member_nick + "</div>";
              htmlStr += "</div>";
              htmlStr += "<div class='country'>" + post.post_content + "</div>";
              htmlStr += "</div>";


              $('#postAccount').html("");
              $('#postAccount').append(htmlStr);

            }


        //댓글 리스트 조회
        function getCommentList(data) {

          let replyList = data.replyList;
          let htmlStr = "";

          for (let i = 0; i < replyList.length; i++) {
            htmlStr += "<div class='admin_container' id=" + replyList[i].replyId + ">";
            htmlStr += "<div class= 'profile-img' style='background: url(/img/avatars/1.jpg) no-repeat center; background-size: cover;'></div>";
            htmlStr += "<div class='comment'>";
            htmlStr += "<span class='user_id'>" + replyList[i].memberNick + "</span>" + replyList[i].replyContent;
            htmlStr += "<div class='time reply-btn' data-id=" + replyList[i].replyId + ">";
            if (replyList[i].memberNick == memberNick) {
              htmlStr += "<button class='modComment'>수정</button>";
              htmlStr += "<button class='subComment'>삭제</button>";
            }
            htmlStr += replyList[i].replyRegdate + "</div>";
            htmlStr += "<div class='reply_edit'><a href='#n'></a></div>";
            htmlStr += "<div class='reply_delete'><a href='#n'></a></div>";
            htmlStr += "<div class='reply_heart_btn'>";
            htmlStr += "<a href='#'><i class='bx bx-heart'></i><span>8</span></a>";
            htmlStr += "</div></div></div>";
          }

          $('#commentList').html("");
          $('#commentList').append(htmlStr);

        }

        
      });




    
      /*]]>*/
  </script>
 	
 	
 	
            <!-- Content -->
            <div class=" container-xxl flex-grow-1 container-p-y">
              <div class="row" >
                
                <div class="col-lg-12 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-12">
                        <div class="card-body polaroid-main-body">
                         
                    <!-- Account -->
                    <div class="card-body profile-box" >
                      <div class="d-flex align-items-start align-items-sm-center gap-5 ">
                        <div class="profile-img" style="background: url(/img/avatars/1.jpg) no-repeat center; background-size: cover;">
							          </div>
                       
                       
                        <div class="button-wrapper profile-btn">    
                          <p>[[${session.member.memberNick}]]</p>                    
                          
                          <button type="button" class="btn btn-outline-primary">팔로우</button>
                          
                          <a type="button" class="btn btn-outline-secondary" href="profile.html"> 프로필 편집</a>


                          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                          <a href="https://www.naver.com/">https://www.naver.com/</a>
                          
                        </div>

                        <div class="count-box ">
                          <div class="count-item" type="button">
                            <span class="fw-semibold d-block mb-1">게시물</span>
                            <h4 class="card-title mb-2">[[${postCount}]]</h4>
                          </div>
                          <div class="count-item">
                            <a href="follow.html" class="link-color">
                              <span class="fw-semibold d-block mb-1">팔로워</span>
                              <h3 class="card-title mb-2">12</h3>
                            </a>
                          </div>
                          <div class="count-item" type="button">
                            <a href="follow.html" class="link-color">
                              <span class="fw-semibold d-block mb-1">팔로우</span>
                              <h3 class="card-title mb-2">12</h3>
                            </a>
                          </div>
                        </div>
                       
                      </div>
                      
                    </div>
                        </div>
                      </div>
                      <!-- <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            src="/img/illustrations/man-with-laptop-light.png"
                            height="140"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                
                  <div class="row contents-list" id="contents">

                    <!-- contents-item  start-->
                    <style>
                    	.contents-img:nth-child(2),.contents-img:nth-child(2) {display:none;}
                    </style>
                    <th:block th:each="post: ${posts}"  >
                    <div class="col-lg-4 col-md-4 col-4 mb-4">
                      <div class="card">
                        <a href="#" type="button" class="" th:attr="data-id=${post.post_id}">
                          <div class="card-body contents-card">    
                          <!-- <span th:style="'background-image:url('+ @{/images/sample-visual01.jpg} +');'"></span> -->
                            <th:block th:each="upload : ${post.uploads}">
                              <div class="contents-img" th:style="'background:url('+ @{'/upload/'+ ${upload.upload_filepath} + '/' + ${upload.upload_fileuuid} + '_' + ${upload.upload_filename}} +')no-repeat center; background-size: cover;'" >

                            
                        
                             <!--  <img th:src="'/upload/'+ ${upload.upload_filepath} + '/' + ${upload.upload_fileuuid} + '_' + ${upload.upload_filename}" > -->
                              <!-- img th:src="'/upload/main_' + ${file.uuid} + '_' + ${file.filename}" -->
                             <!--  th:src="@{../display(r_path=${dto2.r_path}, r_image=${dto2.r_image})}" -->
                                <div class="hover-box">
                                  <i class='bx bxs-heart'><span>123</span></i>&nbsp;&nbsp;
                                  <i class='bx bxs-chat'><span>123</span></i>
                                </div>
								
                              </div>
                              </th:block>
                          </div>
                        </a>
                      </div>
                    </div>
                    </th:block>
                    <!-- contents-item  end-->
                    
                  </div>
               
           
              </div>
             
            </div>
            
            <!-- modals2 start ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
          <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content" >
                <div class="modal-header" id="postTitle">
	                  
                </div>
                
	                <div class="modal-body content-modal">
	
	                  <div class="img_section">
	                    <!-- <div class="trans_inner">
	                        <img src="/img/avatars/1.jpg"  alt="">
	                    </div> -->
	                    <!-- Bootstrap carousel -->
	                <div class="col-md">
	
	                  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
	                    <ol class="carousel-indicators">
	                      <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
	                      <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
	                      <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
	                    </ol>

                      <!-- 상세 이미지 조회-->
	                    <div class="carousel-inner" id="postPhoto">           
	                     
	                    </div>

	                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
	                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                      <span class="visually-hidden">Previous</span>
	                    </a>
	                    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
	                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                      <span class="visually-hidden">Next</span>
	                    </a>
	                  </div>
	                </div>
	                <!-- Bootstrap crossfade carousel -->
	                </div>
	
	                  <div class="detail--right_box ">
	
                      <!-- 상세 게시글 작성자 조회-->
	                    <header class="top" id="postAccount">     
	
	                    </header>

	                    <div class="user-control">
	                      <button type="button" class="btn btn-primary edit-btn modifyPost" >수정</button>
	                      <button type="button" class="btn btn-primary delete-btn deletePost">삭제</button>
	                    </div>
	                    <div class="bottom_icons content-modal">
	                      <div class="left_icons">
	                        <div class="heart_btn">
	                          <a href="#">
	                            <i class='bx bx-heart'></i>
	                          </a>
	                        </div>
	                          <span class="count_likes">
	                            좋아요
	                            <span class="count">2,351</span>개
	                         
	                          </span>
	                          <!-- <div class="bookmark_btn">
	                            <a href="#">
	                              <i class='bx bx-bookmark'></i>
	                            </a>
	                          </div> -->
	                          <div>
	                              <div class="sprite_share_icon" data-name="share"></div>
	                          </div>
	                      </div>
	
	                      <div class="right_icon">
	                          <div class="sprite_bookmark_outline" data-name="book-mark"></div>
	                      </div>
	                    </div>
	
	                  
						          <!-- 댓글 리스트 -->
	                    <section class="scroll_section"  id="commentList">
	                     
			
	                    </section>
	
	
	                </div>
	                
                  <div class="modal-footer content-modal" id="addForm">
                    <div class="commit_field">
                      <input type="text" id="replyContent" placeholder="댓글 등록">
                    </div>
                    <button type="button" id="addComment" class="btn btn-primary">게시</button>
                          
                  </div>
                  
                  
                  <div class="modal-footer content-modal" id="modifyForm" style="display: none;">
                    <!-- 수정폼 -->
                   <div class="commit_field">
                      <input type="text" id="modContent" placeholder="댓글 수정">
                    </div>
                    <button type="button" id="ok" class="btn btn-primary">수정</button>
                  
                  </div>

                  

                
                
                </div>
                </div>
                
              </div>
            </div>

          <div class="demo-inline-spacing">
            <!-- Button trigger modal -->
            
           
          </div>


          <!-- modals2 end ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
            
            <!-- / Content -->
	
	</div>