<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polaroid.app.post.PostMapper">
	<insert id="registerPost" parameterType="PostDto">
		<selectKey resultType="int" keyProperty="post_id"
			order="AFTER">
			select max(post_id) as post_id
			from post
		</selectKey>
		insert into post(post_title,
		post_content,
		post_regdate,
		member_id)
		values(#{post_title},
		#{post_content},
		now(),
		#{member_id})

	</insert>


	<select id="selectPostList" resultType="PostListDto">
		select * from post as p
		LEFT JOIN upload as u on p.post_id = u.post_id order
		by post_id desc
	</select>

	<resultMap type="postDto" id="selectMyPostListMap">
		<id property="post_id" column="post_id" />
		<result property="post_title" column="post_title" />
		<result property="post_content" column="post_content" />

		<collection property="uploads" ofType="UploadDto">
			<id property="upload_id" column="upload_id" />
			<result property="upload_filename" column="upload_filename" />
			<result property="upload_fileuuid" column="upload_fileuuid" />
			<result property="upload_filepath" column="upload_filepath" />
			<result property="upload_type" column="upload_type" />
		</collection>
	</resultMap>


	<select id="selectMyPostList" resultMap="selectMyPostListMap" parameterType="int">
		select p.post_id,
		p.post_title, p.post_content, u.upload_id,
		u.upload_filename,
		u.upload_fileuuid, u.upload_filepath, u.upload_type
		from post as p LEFT
		JOIN upload as u on p.post_id = u.post_id
		where member_id = #{memberId} 
		order by p.post_id desc

	</select>

	
	<select id="selectPostDetail" resultMap="selectMyPostListMap" parameterType="int">
		select p.post_id, p.post_title, p.post_content, u.upload_id,
		u.upload_filename, u.upload_fileuuid, u.upload_filepath, u.upload_type
		from post as p LEFT JOIN upload as u 
		on p.post_id = u.post_id
		where p.post_id  = #{post_id} 

	</select>

	<select id="selectPostCount" resultType="int">
		select count(post_id)
		from post where member_id = #{member_id}
	</select>


	<select id="selectLikePostList" resultType="PostListDto">
		select *
		from post as p
		LEFT JOIN postlike as l on p.post_id = l.post_id
		where post_id = #{post_id}
		order by post_id desc
	</select>


	<update id="updatePost" parameterType="PostDto">
		update post
		set post_title = #{post_title},
		post_content = #{post_content},
		post_regdate = now()
		where post_id = #{post_id}
	</update>


	<delete id="deletePost" parameterType="int" >
		delete from post where post_id = #{post_id}
	</delete>



</mapper>
