<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.polaroid.app.reply.ReplyMapper">

	<resultMap type="com.polaroid.app.command.ReplyDto" id="replyInfo">
		<result column="reply_id" property="replyId"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_regdate" property="replyRegdate"/>
		<result column="post_id" property="postId"/>
	</resultMap>
	
	<select id="selectReplyList" parameterType="int" resultType="ReplyDto" resultMap="replyInfo">
		select reply_id, reply_content, reply_regdate 
		from reply
		<!-- from member LEFT JOIN reply UNION member RIGHT JOIN reply -->
		where post_id = #{postId}
		order by reply_regdate desc
	</select>

	<insert id="insertReply" parameterType="ReplyDto">
		insert into reply
		values(default, #{replyContent}, now(), #{postId})
	</insert>

	<delete id="deleteReply" parameterType="int">
		delete from reply
		where reply_id = #{replyId}
	</delete>
	
	<update id="updateReply" parameterType="ReplyDto">
		update reply
		set reply_content = #{replyContent}, reply_regdate = now()
		where reply_id = #{replyId}
	</update>
	
	<select id="replyCount" resultType="int">
		select count(*) from reply
		where post_id = #{postId}
	</select>

</mapper>